{% extends 'base.html' %}

<!-- ========== Page Title Block ========== -->
{% block PageTitle %}
User Dashboard
{% endblock PageTitle %}

<!-- ========== Navigation Title Block ========== -->
{% block NavTitle %}
<i class="fa fa-home" style="font-size:36px"></i> User Dashboard
{% endblock NavTitle %}

<!-- ========== Main Content Block ========== -->
{% block Content %}
<div class="row">
    <!-- Left Side -->
    <div class="col-md-3">
        <div class="card bg-light text-dark mt-1">
            <div class="card-body">
                <center>
                    {% for i in Active_User %}
                        {% if i.Gender == "Male" %}
                        <img src="https://www.shareicon.net/data/512x512/2015/09/18/103160_man_512x512.png" alt="" width="40%" height="40%" style="border-radius:50%;">
                        {% else %}
                        <img src="https://cdn4.iconfinder.com/data/icons/avatars-21/512/avatar-circle-human-female-4-1024.png" alt="" width="40%" height="40%" style="border-radius:50%;">
                        {% endif %}
                        <h5 class="text-success fw-bold">{{ i.FullName }}</h5><hr>
                        <h6 class="text-warning fw-bold">Username :- {{ i.UserName }}</h6>
                        <a class="btn btn-primary fw-bold w-100 my-1" href="#">User Profile</a>
                    {% endfor %}
                </center>
            </div>
        </div>
        <div class="card bg-light text-dark mt-2">
            <div class="card-body">
               <center>
                <a class="btn btn-success fw-bold w-100 my-1" href="">Home</a>
                <a class="btn btn-success fw-bold w-100 my-1" href="" data-bs-toggle="modal" data-bs-target="#UserAccount">Account</a>
                <a class="btn btn-success fw-bold w-100 my-1" href="" data-bs-toggle="modal" data-bs-target="#UserPassBook">PassBook</a>
                <a class="btn btn-success fw-bold w-100 my-1" href="" data-bs-toggle="modal" data-bs-target="#UserStatement">Account Statements</a>
                <a class="btn btn-success fw-bold w-100 my-1" href="" data-bs-toggle="modal" data-bs-target="#fundsTransfer">Funds Transfer</a>
               </center>
            </div>
            <div class="card-body mt-1">
                <center>
                    <a class="btn btn-warning fw-bold w-100 my-1" href="">Notifications</a>
                </center>
            </div>
        </div>
    </div>
    <!-- Right Side -->
    <div class="col-md-8">
        <div class="card bg-warning text-dark mt-1">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10"><b>Account Balance: {{ TotalAmountInDashboard }} Rs</b><br></div>
                    <div class="col-md-2"><a class="btn btn-danger btn-sm fw-bold" href="{% url 'logout' %}">Logout</a></div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            {% for i in Notifi %}
                <div class="alert alert-success">
                    <strong>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell text-danger" viewBox="0 0 16 16">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                          </svg> {{ i.Notifications }}
                    </strong>
                </div>
            {% endfor %}
        </div>

    </div>
    <div class="col-md-1"></div>
</div>










{% include "userAction.html" %}

<!-- ========== Sweet Alert ========== -->
{% for msg in messages %}
{% if msg.tags == "success" %}
<script>
    swal("", "{{ msg }}", "success");
</script>
{% endif %}
{% if msg.tags == "error" %}
<script>
    swal("Oops!", "{{ msg }}", "warning");
</script>
{% endif %}
{% endfor %}

<!-- ========== Sweet Alert End ========== -->

{% endblock Content %}